*{
	margin: 0;
	padding: 0;
	background-color: #fff;
}



.body {
	background-color:#fff;
	border: 5px solid green;
	margin: 5px;
	padding:1px;
	height: 90%;

}
.victoria{
	 border: 5px solid red;
 
}
 .orange{
	width: 99%;
	border: 3px solid orange;
	margin: 2px;
}
.blue{
	border: 5px solid darkblue;
}

.purple{
	border: 5px solid purple;
}


.background{
	background:http://www.cs.washington.edu/education/courses/190m/09sp/labs/2‐journal/images/background.gif;
}

.body1 {
	background-color:#fff;
	border: 5px solid green;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 5px;
	padding:1px;
	height: 90%;

}


.blue1{
	   margin-top: 10px;
	   padding: 5px;
	   border: 5px solid darkblue;
	   background-color: #E8FBFB;

}




.victoria2{
	 border: 5px solid red;
	 text-align: right;
 
}


.blue1fork{
	   margin-top: 10px;
	   padding: 5px;
	   border: 5px solid darkblue;
	   background-color: #E8FBFB;
	   height: 200px;
	   font-size: 18px;

	   
}
.right{
	 margin-top: -45px;
	 margin-right: 50px;
	float: right;

}


.rightmonster{
	 margin-top: -22px;
	 margin-right: 2px;
	float: right;
}

.blue1monster{
	   margin-top: 10px;
	   padding: 5px;
	   border: 5px solid darkblue;
	   background-color: #E8FBFB;
	   height: 270px;
	   font-size: 18px;

}

.body3 {
	background-color:#fff;
	border: 10px solid #fff;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 5px;
	padding:1px;
	height: 90%;

}
.victoria3{

	 background-color: #A8F0F0;
	 text-align: right;
 
}
.white{
	border: none;
}
.blue1fork3{
	   margin-top: 10px;
	   padding: 5px;
	   border: 5px solid  #A8F0F0;
	   background-color: #E8FBFB;
	   height: 200px;
	   font-size: 18px;

	   
}
.blue1monster3{
	   margin-top: 10px;
	   padding: 5px;
	   border: 5px solid #A8F0F0 ;
	   background-color: #E8FBFB;
	   height: 270px;
	   font-size: 18px;

}
.general{
	display: flex;
	justify-content: space-between;
}
.friends{
	width: 19%;
	border: 7px solid #00ced1;
	background-color:#afeeee; 
	height: 140px;
	margin-top: 10px;
	padding: 3px;
	margin-right: 10px;
}
.rest{
	width: 78%;
}
.dotted{
	border-bottom: 5px dotted  #00ced1 ;
}
.rightmonsterm{
	 margin-top: -70px;
	 margin-right: 2px;
	float: right;
}